@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    .logo-image>img {
        width: 50%;
    }

    .btn-outlet {
        padding: 6px 18px;
        font-size: 10px;
    }
    .first-section>h1 {
        font-size: 25px;
        /* text-align: center; */
      }
      .p-sm-30px{
        padding: 30px;
      }
      .first-section>p {
        font-size: 14px;
        padding: 20px 0;
        width: 100%;
      }

      .first-section .btn-common {
        padding: 10px 40px;
        border: none;
        font-size: 13px;
      }
      .second-section{
        padding: 30px;
      }
      /* .third-section{

      } */
      .communities-section>img {
       width:30px ;
      }
      .communities-section>h2 {
        font-size: 70px;
      }
      
      .communities-section>p {
        font-size: 18px;
      }
      .message-section>img {
        width:30px ;
       }
      .message-section{
        padding-top: 114px;
      }
      .message-section>h2 {
        font-size: 70px;
       
      }
      .image-section>img {
        width: 280px;
      }
      .message-section>p {
        font-size: 16px;
      
       
      }
      .text-section>h3 {
        padding-top: 50px;
          text-align:center ;
          font-size: 25px;

      }
      .fourth-section{
          padding: 20px;
          
      }
      .text-section{
        width: 100%;
      }
      .text-section>p {
        font-size: 13px;
        text-align: center;
          opacity: 0.8;
        
      }

    .five-section{
        padding: 20px;
        padding: 110px 0px;
    }
    .five-text-section{
      width: 90%;
    }
      .five-text-section>h3 {
        padding-top: 50px;
        font-size: 25px;
        text-align: center;
       
      }
      
      .five-text-section>p {
        font-size: 15px;
        text-align: center;
      }

      .Seven-section>h1{
        font-size: 22px;
        text-align: center;
      }


      .Seven-section>button{
        margin-bottom: 100px;
      }
      .footer-section{
      padding:30px;
      }
      .footer-image>img{   
        width: 100%;
        margin-top: 100px;
      }
      .left-footer-section{
      padding: 0px;
      }
      .left-footer-section>img{
        width: 300px;
        color: white;
        /* background-color: red; */
      }
      .left-footer-section>p{
        width: 100%;
        font-size: 18px;
        line-height: 30px;
      
      }
      .image-wrapper::after{
      left: 50%;
      }
      .phone>img{
        padding-right: 10px;
        
      }
      .phone>span{
        padding-right: 10px;
        font-size: 18px;
        
      }
      .email{
        padding: 20px 0px;
      }
      .email>img{
        padding-right: 10px;
        
      }
      .email>span{
        padding-right: 10px;
        font-size: 18px;
        
      }
      .social-media-wrapper{
        padding-top: 30px;
      }
      
      /* right section footer  */
      .right-footer-section{
        padding:0px 0px 0px 0px;
      }
      .right-footer-section > h3{
      font-size:25px;
      }
      .right-footer-section >p{
        width: 100%;
      }
      .left-footer-section>img{
        width: 200px;
        
      }
      .social-media{
        font-size: 25px;
        }
      .right-footer-section>input[type=text]{
        padding: 15px 50px;
      }
      .right-footer-section>button{
        margin-left: 25px;
        margin-top: 20px;
        margin-left: 92px;
        margin-bottom: 50px;
      }
      .flex-sm-cloumn{
        flex-direction: column-reverse;
      }
      .third-section{
        flex-direction: column;
      }
      .five-section{
      flex-direction: column;
      }
}