/* Universal style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html body  */
html,
body {
  height: 100%;
}

/* helper class  */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-contain-between {
  justify-content: space-between;
}

.justify-contain-around {
  justify-content: space-around;
}

.justify-contain-center {
  justify-content: center;
}

.align-item-center {
  align-items: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.border {
  border: 2px solid red;
}

.p-5 {
  padding: 60px;
}
.m-top-4{
  margin-top: 20px;
}
.cursor-pointer {
  cursor: pointer;
}

.overflow-auto {
  overflow: auto;
}

.text-align-center {
  text-align: center;
}

.border-radius {
  border-radius: 20px;
}

/* end hepler class */

/* Start header */
header{
  padding: 60px;
}
/* image responsive */
.image-responsive {
  width: 100%;
  max-width: 250px;
  height: auto;
}

/* button outlet */
.btn-outlet {
  padding: 10px 31px;
  color: hsl(322deg 98% 66%);
  font-size: 16px;
  border-radius: 50px;
  background-color: white;
  border-color: hsl(322deg 98% 66%);
  white-space: nowrap;
}

/* end header */

/*  Start first section*/
.first-section>h1 {
  font-size: 45px;
  color: hsl(191deg 92% 10%);
 
}

.first-section>p {
  font-size: 18px;
  color: hsl(195deg 55% 13%);
  padding: 30px 0;
  width: 35%;
  text-align:center ;
}

.first-section .btn-common {
  padding: 15px 60px;
  border: none;
  font-size: 15px;
  color: white;
  background-color: hsl(322deg 98% 66%);
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.175);
}

/* End  first section*/
/* Start Second section */
.second-section>.image2-responsive {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-top: 30px;
}

/* end Second section  */

/* third section */
.third-section {
  margin: 40px 0;
}

.communities-section>h2 {
  font-size: 100px;
  color: hsl(193deg 96% 9%);
}

.communities-section>p {
  font-size: 25px;
  color: hsl(202deg 4% 61%);
}

.message-section>h2 {
  font-size: 100px;
  color: hsl(193deg 96% 9%);
  text-align: center;
}

.message-section>p {
  font-size: 25px;
  color: hsl(202deg 4% 61%);
  text-align: center;
}

/* end third section */

/* Start fourth Section */

.top-image>img{
  width: 100%;
  margin-bottom: -10px;
}
.fourth-section{
  background-color: hsl(207deg 100% 98%);
}
.buttom-image>img{
  width: 100%;
  margin-bottom: -10px;
}
.image-section>img {
  width: 400px;
}

.text-section>h3 {
  padding-top: 160px;
  font-size: 30px;
}

.text-section>p {
  padding-top: 16px;
  font-size: 17px;
}

/* end fourth Section  */

.five-text-section>h3 {
  padding-top: 90px;
  font-size: 28px;
  color: hsl(190deg 92% 10%);
}

.five-text-section>p {
  padding-top: 16px;
  font-size: 17px;
  color: hsl(192deg 15% 34%);
}

/* end five Section  */

/* start  seven section  */
.Seven-section>h1{
  font-size: 32px;
}
.Seven-section>button{
  margin-bottom: 100px;
}
/* end  seven section  */

/* footer section */
.footer-section{
  height: auto;
  color: white;   
background-color: hsl(192deg 96% 9%);
padding: 100px 0px 0px 100px;
}
.footer-image>img{   
  background-repeat: no-repeat; 
  margin-bottom: -10px;
  width: 100%;
  margin-top: 100px;
}
.left-footer-section{
padding: 50px;
}
.left-footer-section>img{
  width: 300px;
  color: white;
  /* background-color: red; */
}
.left-footer-section>p{
  padding: 30px 0px;
  width: 55%;
  font-size: 18px;
  line-height: 30px;

}
.phone>img{
  padding-right: 10px;
  
}
.phone>span{
  padding-right: 10px;
  font-size: 18px;
  
}
.email{
  padding: 20px 0px;
}
.email>img{
  padding-right: 10px;
  
}
.email>span{
  padding-right: 10px;
  font-size: 18px;
  
}
.social-media-wrapper{
  padding-top: 50px;
}
.social-media{
padding-right: 20px;
width: 50px;
}


/* right section footer  */
.right-footer-section{
  padding:65px 0px 65px 65px;
}
.right-footer-section > h3{
font-size:25px;
}
.right-footer-section >p{
  width: 60%;
  padding: 20px 0px;
  font-size: 18px;
  line-height: 30px;
}
.right-footer-section>input[type=text]{
  padding: 15px 90px;
  border-radius: 5px;
  border: none;
}
.right-footer-section>button{
  padding: 14px 40px;
  border-radius: 5px;
  margin-left: 25px;
  color: white;
  background-color: hsl(322deg 98% 66%);
  font-weight: bolder;
  font-size: 18px;
  border: none;
}
/*end  footer section */

/* media Query */

